<link rel="stylesheet" href="<%= assetPath('css/chatbox.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/index.css') %>">

<div class="home" id="home-container">
    <section id="feed-posts">
            <h4>Posts</h4>
            <% if(locals.user){ %>
          <div class="create-post">
            <form action="/posts/create" id="new-post-form" enctype="multipart/form-data" method="POST">
                <textarea id="post-data" name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                <div class="fileinputs">
                <input id="post-pic-choose" type="file" name="postpic" class="file" style="width:60%">
                     <div class="fakefile">
                       <img src="https://image.flaticon.com/icons/svg/1088/1088537.svg" width="20" height="20">
                     </div>
                 <input id="add-post-btn" type="submit" value="Post">    
                </div>
                <!-- <input id="add-post-btn" type="submit" value="Post"> -->
            </form>
            <% } %>
          </div>
            <div class="posts-list" id="posts-list-container">
              
                <ul>
                    <% for(post of posts){ %>
                        
                    <%- include('_post') -%>
                        
                    <%} %>
                </ul>
            </div>
        </section>
        
        
        <section class="friends-list" id="user-friends">
           <div class="header">Friends</div>
           <% if(locals.user){ %>

            <% for(u of all_friends){%>
                
            <div class="friends-item">
                <div class="friends-img">
                    <%if(u.avatar){%>
                    <img
                        src="<%= u.avatar %>"
                        alt="<%= u.name %>"
                    />
                    <%}else{%>
                        <div class="user">
                        <img
                            src="https://image.flaticon.com/icons/svg/2154/2154651.svg"
                            alt="user-dp"
                            id="user-dp"
                        />
                      <%}%>  
                </div> 
                <div class="friends-name">
                       <span><a  class="chat-button" href="/chat/<%= u.id%>" > <%=u.name%>
                           <span class="tooltiptext">Click to start chat</span>
                            </a>  </span>
                        <!-- <a href="/users/profile/<%= u.id %>" style="text-decoration: none;"><%= u.name %></a> -->
                </div>
                <% } %>
            </div>
        <%} else {%>
            <h2>login to see friends</h2>
         <%}%>
        </section>
       
            <%- include('chatbox') %>
      
</div>
<script src="<%= assetPath('js/home_post_comments.js') %>" ></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>

<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script src="<%=assetPath('js/search.js')%>"></script>
<script>
   $('.toggle-like-button').each(function(){
       let self=this;
       let toggleLike=new ToggleLike(self);
   });
</script>
<script>
// When the user clicks on div, open the popup
function myFunction() {
  var popup = document.getElementById("chatbox");
  popup.classList.toggle("show");
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<!-- <%if(locals.user) {%>
<script>
    new ChatEngine('','chatbox','<%= locals.user.email %>')
</script>
<%}%> -->