<link rel="stylesheet" href="<%= assetPath('css/index.css') %>">
<div class="big-container">
    <div class="settings">
          <h1><%= title %></h1>
            <div class="field">
                <div class="field-label">Name</div>
                <div class="field-value"><%= profile_user.name %></div>
            </div>

            <div class="field">
                <div class="field-label">Email</div>
                <div class="field-value"><%= profile_user.email %></div>
            </div>  
        <div class="img-container">   
          <%if(profile_user.avatar){%>
          <img src="<%=profile_user.avatar %>" alt="<%=profile_user.name %>" style="width: 100px; height: 200px;">
          <%}%>
        </div>    
        <% if(user.id ==profile_user.id){%>
      
          <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
            <input type="text" name="name" placeholder="Your name" value="<%=profile_user.name%>" required>
            <input type="email" name="email" placeholder="Your email" value="<%=profile_user.email%>" required>
            <input type="file"  name="avatar" placeholder="add profile picture">
            <input type="submit" value="update" >
          </form>
          <% }else{%>   
          <div class="btn-grp">
              <button class="button save-btn">
                <a id="send-req-button"  href="/friends/sendreq/<%=profile_user._id %>">
                        <%console.log('value of k ',k)%>
                        <%if(k==0){%>
                            <span class="friend-button" style="color: white; background-color: green; width: 30px;"> Add req</span>
                            <%}else if(k==1){%>
                                <span class="friend-button" style="color: white; background-color: red; width: 30px;"> unsend req</span>
                                <%}else if(k==2){%>
                                    <span class="friend-button" style="color: white; width: 30px;"> Friends</span>
                                    <%}%>
                    </a></button>
          </div>
        <%}%>
    </div>    
 <% if(user.id ==profile_user.id){%>
    <div class="friends-section">
      <h2>Friends Requests</h2>
        <div class="friends-req">
          <ul>
          <% for(u of list){ %>
            <li>
                <p>
                  <% if(u.avatar){ %>
                    <img src="<%=u.avatar %>" alt="<%=u.name %>" style="height:40px"  >
                  <% }else{ %>
                    <i style="font-size: 23px;" class="fas fa-user-friends"></i>
                    <%}%>
                      <a href="/users/profile/<%= u.id%>"><%=u.name%> </a>
                    <p>
                  <a class="req-design"  href="/friends/accept/<%=u._id%>"><i  class="fas fa-check"></i>Confirm</a>
                  <a class="req-design" href="/friends/reject/<%=u._id%>"><i class="fas fa-times"></i>Reject</a>
                </p>
                </p>
            </li>
            <%} %>
            </ul>
             <%if(list.length==0) {%>
              <h4 style="color: #616161;">No Friend Requests pending!</h4>
             <%}%> 
        </div>

    </div>
    <%}%> 
</div>
  
 <script type="text/javascript" src="<%= assetPath('js/friendreq.js') %>"></script>